[Desktop Entry]
Type=Application
Name=Movo
Comment=Watch movies and series
Comment[ru]=Фильмы и сериалы
Comment[uk]=Фільми та серіали
Exec=movo
Icon=io.github.sachesi.Movo
Terminal=false
Categories=AudioVideo;Video;Player;GTK;
Keywords=movies;series;video;streaming;
StartupNotify=true
StartupWMClass=io.github.sachesi.Movo
